/*CSS样式 - by hoshi_hiyouga*/
@charset "utf-8";
body{font-family:Microsoft Yahei;background:#ddd url(http://r6.loli.io/2ABnYz.jpg) no-repeat fixed;background-size:cover;text-shadow:1px 0 0 rgba(255,255,255,0.7);}
form{text-align:center;}
i{font-style:normal;color:#000;}
a{text-decoration:none;}
a:hover{text-decoration:underline;text-shadow:#585858 0px 0px 3px;}
.warn{color:#F00;}
.info1{position:absolute;top:0;left:3%;font-size:0.8em;text-align:left;}
.info2{position:absolute;top:0;right:0;font-size:0.7em;background-color:rgba(255,255,255,0.95);}
.text{text-align:center;color:#666;border:1px solid #ccc;padding:3px;border-radius:3px;}
.submit{padding:3px 5px;background-color:#369;border:0 none;color:#F0FFFF;cursor:pointer;border-radius:3px;}
.jump{padding:3px;background-color:rgba(235,184,41,0.8);cursor:wait;border-radius:3px;font-size:0.7em;}